* {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
}
img {
  height: 36rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 75%;
}

ul {
  margin: auto;
  width: 75%;
}

li {
  list-style: none;
}

a {
  color: red;
  text-decoration: none;
}
